@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: large;
  margin: 0;
  padding: 0;
}

header {
    background: rgb(161, 165, 157);
    display: flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
}

nav {
    color: rgb(0, 0, 0);
}

nav a {
    color: rgb(0, 0, 0);
    padding-right: 60px;
    text-decoration: none;
}

.big-header {
    background: rgb(86, 190, 204);
    padding: 150px;
    text-align: center;
}

.big-header h1 {
    font-size: 60px;
}