@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
    background: rgb(189, 188, 188);
    font-size: 30px;
    text-align: center;
}

main {
    background: rgb(189, 188, 188);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 10px 0;
}

.our-services-item {
    /* background: rgb(255, 255, 255); */
    /* border: 1px solid yellow; */
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 23%;
}

.our-services-item:hover {
    background: rgb(68, 168, 168);
    box-shadow: 0px 0px 10px rgb(7, 27, 26);
}

.our-services-item h3 {
    font-size: 25px;
    text-align: center;
}

.our-services-item p {
    line-height: 1.5;
    padding-top: 10px;
    text-align: justify;
}